#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbg{
  background-color: #006d77;
}

.copybg{
  background-color: #006d77;
}

.btnbg{
  color: #83c5be;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

html {
  height: 100%;
}

#root {
  width: 100vw;
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
}

.btn-width{
  max-width: 200px;
}

.itemInfoCard{
  width: 55%;
}

.itemDesc{
  font-size: 15px;
}

.itemCircle{ /*custom made circle to display shopping cart item amount*/
  position: relative;
  right: 10px;
  height: 10px;
  top: 5px;
  width: 10px;
  font-size: 6px;
  color: white;
  background-color: black;
}

.link-underline{
  text-decoration: none;
}

.link-underline:visited{
  text-decoration: none;
}

.notifActive{
  opacity: 0;
  animation-name: notif-fade;
  animation-duration: 4s;
}

.notif{
  opacity: 0;
}

.notifColor{
  background-color: #006d77;
  color: white;
}

.bigToast{
  display: flex;
  justify-content: center;
}

.removeButtonAttributes{
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

/*insert animation here that makes notifActive appear and disappear */
@keyframes notif-fade{
  0%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  80%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@media (max-width: 992px) {

  .itemDesc{
    font-size: 13px;
  }

  .mobileHeader{
    font-size: 40px;
    margin-bottom: 0px;
  }

}

@media(max-width : 772px){

  .smallToast{
    position: fixed;
    top: 0;
    width: 100px;
  }

}

@media(max-width: 500px){
  .cardScroll{
    min-height: 21rem;
  }
}

@media(min-width: 500px) and (max-width: 1200px){
  .cardScroll{
    min-height: 23rem;
  }
}

@media(min-width: 1200px){
  .cardScroll{
    min-height: 25rem;
  }
}
